# Should not be present in the build context, but why not be explicit
.git
.gitignore
.env
.env.*
.DS_Store
.vscode/

# Docker build files (don't need to copy the instructions into the result)
Dockerfile
